
<div fxLayout="row" fxLayout.sm='column' fxLayout.xs='column' fxLayoutGap="3%" fxLayoutAlign.sm="center" fxLayoutAlign.xs="center">
    <div *ngFor="let order of array" fxFlex="25%" fxFlex.xs="80%" fxFlex.sm="70%" fxLayout="column" fxLayoutGap="3%">
        <mat-card fxLayout="column" fxLayoutAlign="center center">
                <img class="profil" mat-card-md-image src='assets/{{order.Profil}}'>  
                <h3 >{{order.Name}}</h3>
                <p>Full-Stack<br>Developer</p>
                <button mat-button [matMenuTriggerFor]="menu" class="btn">My Skills</button>
                    <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/front">Front-end Skills</button>
                    <button mat-menu-item routerLink='/back'>Back-End Skills</button>
                    </mat-menu>
                <button mat-button class="btn2" routerLink='timeline'>Timeline</button>
        </mat-card>
        <mat-card>
            <div fxLayout="row" fxLayoutGap="40%">
                <div>
                    <h3>Contacts</h3>
                </div>
                <div fxHide.xs fxHide.sm fxLayout="row" fxLayoutGap="25%" fxLayoutAlign="end center">
                    <a href="{{order.Fb}}" target="_blank" class="btnlink"><i class="fa fa-facebook  "></i></a>
                    <a href="{{order.lk}}" target="_blank" class="btnlink"><i class="fa fa-linkedin"></i></a>
                    <a href="{{order.Github}}" target="_blank"  class="btnlink"><i class="fa fa-github-alt"></i></a> 
                </div>
            </div>
            <mat-card fxLayout="column" fxLayoutAlign="center center">
                <button *ngIf="!stats; else elseBlock" mat-button fxFlex="80%" class="btnmessage" (click)="openModal()">
                       Send me a message <i class="fa fa-envelope"></i>
                </button>
                <ng-template #elseBlock>
                    <button  mat-button fxFlex="80%" class="btnmessage2">
                        Thank You ! <i class="fa fa-thumbs-up"></i>
                 </button>
                </ng-template>
            </mat-card>
        </mat-card>
    </div>
    <div fxFlex="70%" fxLayoutGap="3%" >
        <mat-card *ngFor="let order2 of array" fxLayout="row" fxLayoutAlign="center center" fxHide.xs fxHide.sm  >
                    <img  mat-card-image src="assets/{{order2.Cover}}" fxFlex="95%" fxFlex.xl="85%" class="cover" alt="coverPic">
        </mat-card>
        
        <router-outlet ></router-outlet>
    
    </div>  
    
</div>




