.cover {
    height: 28rem;
}
.profil{
    width: 200px;
    height: 200px;
}
.btn{
    background-color:#3b5998;
    width: 80%;
    color: beige;
}
.btn2{
    background-color:#030f2b;
    width: 80%;
    color: beige;
}
.btnmessage{
    background-color:#3b5998;
    color: beige;
}
.btnmessage2{
    background-color:#3b5998;
    cursor: none;
    color: beige;
}

.nav{
   color: #07660f;
}