
<div fxLayout="column"  fxLayoutGap="3%"  >
    <mat-card  *ngFor="let order of array" fxLayout="column" fxLayoutGap="3%">
        <mat-card-header class="timehead" fxLayoutAlign="start center" >
            <mat-card-title>
                {{order.Title}}
            </mat-card-title>

            <mat-card-subtitle >
                {{order.Date.seconds * 1000 | date:'dd/MM/yyyy' }}
            </mat-card-subtitle>
            <img   mat-card-avatar src="{{order.Avatar}}"> 
        </mat-card-header>

        <mat-card-content fxLayout="column" fxLayoutGap="5%">
            <div>
            {{order.Text}}<br>
            <a *ngIf="order.Href" href="{{order.Href}}" target="_blank" >{{order.Href}}</a>
            </div>
            <div >
            <img *ngIf="order.Pic" fxFlex.xl="30%" fxFlex.lg="35%" fxFlex="35%" fxFlex.sm="40%" fxFlex.xs="100%" mat-card-image src="{{order.Pic}}">
            </div>
        </mat-card-content>
    </mat-card>
   
</div>